@font-face {
    font-family: Oswald;
    src:url(./font/Oswald/Oswald-VariableFont_wght.ttf) 
}
* {
    margin: 0;
    box-sizing: border-box;
   
}

body {
    font-family: "Oswald", sans-serif;
}
p {
    font-size: 1.2rem;
    font-weight: 500;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(12, 12, 12);
}
nav {
    display: grid;
    grid-template-columns: 30% 70%;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    min-width: 400px;
    margin: 50px 10px 40px;
    display: grid;
    grid-template-columns: 50% 50%;  
}
header p {
    margin-bottom: 20px;
}
.container {
    padding: 15px;
    margin: 0 auto;
}
h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button {
    border: 1px solid rgba(182, 175, 175, 0.144);
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    
    
}
.button:hover {
    background: rgba(60, 60, 173, 0.842);
    color: whitesmoke;
}
.section li {
    margin: 15px;
}
.section {
    display: grid;
    grid-template-columns: 30% 70%;
    min-width: 400px;
}
.text {
    width: 100%;
    display: block;
    align-items: center;
    margin: 0 auto;
}